@mixin bg-color($color) {
    background-color: $color;
}

@mixin reset-margin-padding() {
    margin: 0;
    padding: 0;
}

@mixin padding($t, $r, $b, $l) {
    padding: $t $r $b $l;
}

@mixin width-height($w, $h) {
    width: $w;
    height: $h;
}

@mixin max-width-height($w, $h) {
    max-width: $w;
    max-height: $h;
}

@mixin bg-img($url) {
    background-image: url($url);
}

@mixin margin($t, $r, $b, $l) {
    margin: $t $r $b $l;
}

@mixin content-images_class($img, $w, $h) {
    @include width-height($w, $h);
    background-image: url($img);
}

@mixin content_class($w, $h, $color) {
    @include width-height($w, $h);
    @include bg-color($color);
}