body {
  background-color: white;
  font-family: Arial;
  margin: 0;
  padding: 0;
  margin: auto;
}

.header__container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.header__container .header__language {
  float: left;
  padding: 50px 0px 0px 20px;
}

.header__container--bg-gray {
  background-color: gray;
}

.content__forgot-pw--text-decoration-none {
  text-decoration: none;
}

.content__sing-up-now--text-decoration-none {
  text-decoration: none;
}

.header__register--format, .header__login--format {
  float: right;
  padding: 10px 0px 0px 0px;
}

.img__content--border-right {
  border-right: 10px solid white;
  height: 100px;
}

.img__content--width {
  width: 50%;
}

.img {
  float: left;
  width: 70%;
  height: 800px;
  background-image: url("../../../assets/images/img.jpg");
}

.content {
  float: left;
  width: 30%;
  height: 800px;
  background-color: white;
}

.content__container {
  width: 70%;
  height: 500px;
  background-color: white;
  text-align: left;
  margin: auto;
  padding: 100px 0px 0px 0px;
}

.btn {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  border: none;
}

.btn--bg-gray {
  background-color: gray;
}

.btn--top {
  padding: 16 32px 0px 0px;
  height: 70px;
  width: 200px;
}

.btn--registernow {
  padding: 22px 22px 10px 10px;
  margin: 50px 0px 0px 0px;
  font-size: 20px;
  max-width: 220px;
}

.btn--bottom {
  padding: 20px 10px 20px 0px;
  width: 150px;
}

.btn--border-radius-8px {
  border-radius: 8px;
}

.btn--color-red {
  color: red;
}

.btn--color-black {
  color: black;
}

.btn--bg-red {
  background-color: red;
}

.btn--float-left {
  float: left;
}

.btn--float-right {
  float: right;
}

.btn:hover {
  background-color: #298b10;
}

.content__icon {
  width: 75%;
  padding: 12px 40px 12px 40px;
  margin: 8px 8px 8px 1px;
  border: 2px solid #5f69a3;
  text-align: start;
}

.content__forgot-pw {
  color: black;
  float: right;
}

.fas,
.fa {
  position: absolute;
  padding: 20px 15px 15px 15px;
}

.content__icon-size-24px {
  font-size: 24px;
}

.header__logo {
  max-width: 100px;
  max-height: 100%;
  padding: 5px 5px 5px 5px;
  margin: 0px 0px 0px 45%;
  position: absolute;
}

.img__content {
  background-color: black;
  width: 50%;
  height: 50%;
  margin: 15% auto auto auto;
  padding: 10px 10px 10px 10px;
  color: white;
  text-align: center;
}

.content__img-top {
  right: 1%;
  border-radius: 60px;
  padding: 5px 5px 5px 5px;
  width: 100px;
  height: 100px;
}

.content__img-top--position-absolute {
  position: absolute;
}

.content__img-top--bg-gray {
  background-color: gray;
}

@media screen and (max-width: 900px) {
  .content {
    width: 100%;
    height: auto;
    background-color: white;
  }
  .img {
    float: left;
    width: 100%;
    height: 700px;
    background-image: url("../../../assets/images/img.jpg");
  }
  .img__content {
    background-color: black;
    width: 95%;
    height: 75%;
    margin: 15% auto auto auto;
    padding: 10px 10px 10px 10px;
    color: white;
    text-align: center;
  }
  .content__icon {
    width: 85%;
    padding: 12px 30px 12px 50px;
    margin: 8px 8px 8px 1px;
    border: 2px solid #5f69a3;
    text-align: start;
  }
  .header__logo {
    max-width: 70px;
    max-height: 50%;
    padding: 80px 5px 5px 5px;
    margin: 0px 0px 0px 40%;
    position: absolute;
  }
  .btn--top {
    padding: 16 32px 0px 0px;
    height: 70px;
    width: 200px;
  }
}
/*# sourceMappingURL=style.css.map */