@import 'mixin';
$color-white: white;
$color-black: black;
$color-red: red;
$bg-color: #ffffff;
$color-gray: gray;
body {
    @include bg-color($color-white);
    font-family: Arial;
    @include reset-margin-padding();
    margin: auto;
}

.header__container {
    list-style-type: none;
    @include reset-margin-padding();
    overflow: hidden;
    height: 100%;
    .header__language {
        float: left;
        @include padding(50px, 0px, 0px, 20px);
    }
}

.header__container--bg-gray {
    @include bg-color($color-gray);
}

.content__forgot-pw--text-decoration-none {
    text-decoration: none;
}

.content__sing-up-now--text-decoration-none {
    text-decoration: none;
}

.header {
    &__register--format,
    &__login--format {
        float: right;
        @include padding(10px, 0px, 0px, 0px);
    }
}

.img__content {
    &--border-right {
        border-right: 10px solid rgb(255, 255, 255);
        height: 100px;
    }
}

.img__content--width {
    width: 50%;
}

.img {
    float: left;
    @include content-images_class('../../../assets/images/img.jpg', 70%, 800px);
}

.content {
    float: left;
    @include content_class(30%, 800px, $color-white);
}

.content__container {
    @include content_class(70%, 500px, $color-white);
    text-align: left;
    margin: auto;
    @include padding(100px, 0px, 0px, 0px);
}

.btn {
    text-shadow: -1px 0 $color-white, 0 1px $color-white, 1px 0 $color-white, 0 -1px $color-white;
    border: none;
}

.btn--bg-gray {
    @include bg-color($color-gray);
}

.btn--top {
    @include padding(16, 32px, 0px, 0px);
    height: 70px;
    width: 200px;
}

.btn--registernow {
    @include padding(22px, 22px, 10px, 10px);
    @include margin(50px, 0px, 0px, 0px);
    font-size: 20px;
    max-width: 220px;
}

.btn--bottom {
    @include padding(20px, 10px, 20px, 0px);
    width: 150px;
}

.btn--border-radius-8px {
    border-radius: 8px;
}

.btn--color-red {
    color: $color-red;
}

.btn--color-black {
    color: $color-black;
}

.btn--bg-red {
    @include bg-color($color-red);
}

.btn--float-left {
    float: left;
}

.btn--float-right {
    float: right;
}

.btn:hover {
    @include bg-color(#298b10);
}

.content__icon {
    width: 75%;
    @include padding(12px, 40px, 12px, 40px);
    @include margin(8px, 8px, 8px, 1px);
    border: 2px solid rgb(95, 105, 163);
    text-align: start;
}

.content__forgot-pw {
    color: $color-black;
    float: right;
}

.fas,
.fa {
    position: absolute;
    @include padding(20px, 15px, 15px, 15px);
}

.content__icon-size-24px {
    font-size: 24px;
}

.header__logo {
    @include max-width-height(100px, 100%);
    @include padding(5px, 5px, 5px, 5px);
    @include margin(0px, 0px, 0px, 45%);
    position: absolute;
}

.img__content {
    @include bg-color($color-black);
    @include width-height(50%, 50%);
    @include margin(15%, auto, auto, auto);
    @include padding(10px, 10px, 10px, 10px);
    color: white;
    text-align: center;
}

.content__img-top {
    right: 1%;
    border-radius: 60px;
    @include padding(5px, 5px, 5px, 5px);
    @include width-height(100px, 100px);
}

.content__img-top--position-absolute {
    position: absolute;
}

.content__img-top--bg-gray {
    @include bg-color(gray);
}

@media screen and (max-width: 900px) {
    .content {
        @include content_class(100%, auto, $color-white);
    }
    .img {
        float: left;
        @include content-images_class('../../../assets/images/img.jpg', 100%, 700px);
    }
    .img__content {
        @include bg-color($color-black);
        @include width-height(95%, 75%);
        @include margin(15%, auto, auto, auto);
        @include padding(10px, 10px, 10px, 10px);
        color: white;
        text-align: center;
    }
    .content__icon {
        width: 85%;
        @include padding(12px, 30px, 12px, 50px);
        @include margin(8px, 8px, 8px, 1px);
        border: 2px solid rgb(95, 105, 163);
        text-align: start;
    }
    .header__logo {
        @include max-width-height(70px, 50%);
        @include padding(80px, 5px, 5px, 5px);
        @include margin(0px, 0px, 0px, 40%);
        position: absolute;
    }
    .btn--top {
        @include padding(16, 32px, 0px, 0px);
        height: 70px;
        width: 200px;
    }
}